body {
    background-color: #f8f8f8;
}

.header {
    width: 100%;
    height: 500px;
}

.header .header_img {
    width: 180px;
    height: 252px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    margin: 70px auto 0;
}

.book_list {
    margin: 0 15px;
}

.book_list .book_box {
    margin-top: 15px;
    background-color: white;
    padding: 0 10px;
    height: 50px;
    text-align: right;
}

.book_list .book_box span {
    line-height: 50px;
    vertical-align: middle;
}

.book_list .book_box .name {
    font-size: 18px;
    float: left;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.book_list .book_box .integral {
    font-size: 15px;
    color: #b59768;

}

.book_list .book_box .close {
    font-size: 30px;
    color: #d8d8d8;
    margin-left: 20px;
}

.bottom_btn {
    width: 100%;
    position: fixed;
    bottom: 150px;
    text-align: center;
}

.bottom_btn span {
    background-color: #3b3b3b;
    box-shadow: 0 0 10px #3b3b3b;
    border-radius: 30px;
    padding: 15px 35px;
    color: white;
}

.bottom_btn span:first-child {
    margin-right: 30px;
}

.bottom_order {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    text-align: left;
    color: #d8d8d8;
    background-color: white;
    font-size: 15px;
}

.bottom_order span {
    margin-left: 5px;
}

.bottom_order .red {
    font-size: 18px;
    color: #b59768;
}

.bottom_order .black {
    font-size: 18px;
    color: black;
}

.bottom_order .disable_btn {
    float: right;
    margin-right: 15px;
}

.bottom_order .disable_btn span {
    background-color: #c3c3c3;
    box-shadow: 0 0 4px #c3c3c3;
    border-radius: 2px;
    padding: 15px 40px;
    color: white;
}

.bottom_order .order_btn {
    float: right;
    margin-right: 15px;
}

.bottom_order .order_btn span {
    background-color: #3b3b3b;
    box-shadow: 0 0 4px #3b3b3b;
    border-radius: 2px;
    padding: 15px 40px;
    color: white;
}
@media screen and (max-width: 360px) {
    .bottom_order span{
        margin-left: 2px;
    }
    .bottom_order .red,.bottom_order .black{
        font-size: 17px;
    }
    .bottom_order .order_btn{
        margin-right: 5px;
    }
    .bottom_order .order_btn span{
        padding: 15px 20px;
    }
}