.header {
    text-align: center;
}

.header img {
    margin: 30px auto 20px;
    width: 260px;
    height: 135px;
}

.header p {
    font-size: 18px;
}

.back_btn {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.back_btn p {
    background-color: #3b3b3b;
    box-shadow: 0 0 4px rgba(59, 59, 59, 0.5);
    border-radius: 3px;
    color: white;
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}