.top .back {
    width: 30px;
    position: fixed;
    top: 0;
    left: 0;
}

.top .back div {
    width: 12px;
    height: 20px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 10px;
    background-image: url("../../img/back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.top .title {
    width: 100%;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}


.body{
    width: 100%;
    height: 100%;
    background: rgb(239,239,244);
    position: absolute;
    top:0;
    left:0;
}
.body .often{
    height: 45px;
    width:100%;
    background: #efeff4;
    line-height: 45px;
    font-size: 14px;
    padding: 0 15px;
    box-sizing: border-box;
}
.body .item{
    width:100%;
    border-bottom: 1px solid rgba(221, 221, 221, 0.46);
    background: #FFFFFF;

}
.body .item p{
    width:100%;
    height:100%;
    line-height:44px;
    font-size: 15px;
    padding: 0 15px;
    box-sizing: border-box;
    color: #3b3b3b;
}
.body .item p img{
    width:13px;
    height:8px;
    float: right;
    margin-top: 20px;
}
.body .item .info{
    width:100%;
    font-size: 12px;
    line-height: 20px;
    box-sizing: border-box;
    color: #898989;
    background: #FFFFFF;
    border-top:  1px solid rgba(221, 221, 221, 0.46);
    padding: 10px 15px;
    display: none;
    letter-spacing: 0.3px;
}
.bottom{
    width:100%;
    background: #efeff4;
}
