body {
    background-color: white;
}

.header {
    background: transparent !important;
    display: block !important;
}

.collect_main {
    /*padding-top: 45px;*/
    /*background: #f8f8f8;*/
}

.collect_main .call_sign {
    position: fixed;
    right: 8px;
    bottom: 90px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    box-shadow: -1px 3px 8px rgba(208, 197, 180, 0.59);
}

.header .left {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 8px;
    right: 15px;
}

.header .car_number {
    width: 21px;
    height: 22px;
    margin: 30% auto 0;
    position: relative;
}

.header .left img {
    width: 20px;
    height: 19px;
}

.bg1 {
    width: 100%;
    height: 100%;
    position: absolute;
    /*top: 50px;*/
    bottom: 0;
    background: white;
    z-index: -5;
}

.none {
    margin: 55% auto 0;
    width: 70%
}

.none img {
    margin: 0 auto;
    display: block;
}

.none .text {
    font-size: 14px;
    color: #c3c3c3;
    text-align: center;
    margin-top: 20px;
}

.none .btn {
    margin: 30px auto 0;
    width: 40%;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    border: 1px solid #828282;
    color: #3b3b3b;
    text-align: center;
}

.collect_main .tips {
    height: 44px;
    width: 100%;
    background: #ffe7e7;
    padding: 0 15px;
    padding-top: 5px;
    line-height: 18px;
    box-sizing: border-box;
    font-size: 12px;
    color: #fea0a0;
    position: fixed;
    top: 50px;
    left: 0;
}

.book_list {
    box-sizing: border-box;
    width: 100%;
}

.book_item {
    color: #3b3b3b;
    font-size: 15px;
    overflow: hidden;
    display: flex;
    -webkit-display: flex;
    margin: 10px;
    background-color: white;
    padding: 8px 10px;
    box-shadow: -1px 3px 8px rgba(208, 197, 180, 0.19);
    border-radius: 3px;
}

.book_item .left {
    float: left;
    width: 70px;
    height: 100px;
    padding: 5px;
}

.book_item .left .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.book_item .right {
    float: left;
    width: 70%;
    padding-left: 4%;
    position: relative;
}

.book_item .right .order_state {
    float: right;
    color: #b59768;
    margin-top: 5%;
    font-size: 1em;
}

.book_item .order_info {
    line-height: 30px;
    text-align: left;
    font-size: 12px;
    color: #626262;
}

.book_item .sum_num {
    position: absolute;
    bottom: 0;
}

/*
.book_list .book_item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.book_item .info {
    font-size: 12px;
}

.num {
    float: left;
    color: #3b3b3b;
    font-size: 12px;
    margin-bottom: 10px;
}

.state {
    float: right;
    color: #b59768;
    font-size: 12px;
}


.book_item .book_info {
    clear: both;
    margin-top: 10px;
    padding: 0 0 5px 5px;
    box-sizing: border-box;
    background: #f1f1f1;
    display: flex;
}

.book_info .img {
    width: 90px;
    height: 134px;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}

.book_info .img_bg {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -65% 0 0 -50%;
}

.book_info .mess {
    flex: 1;
    margin-top: 5px;
}


.mess .numbook {
    font-size: 15px;
    color: #140c04;
    margin-bottom: 55px;
}

.mess .express {
    font-size: 12px;
    color: #140c04;
}
*/

.hr {
    width: 100%;
    height: 10px;
    background-color: #f1f1f1;
}

.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 555;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.contact .button {
    width: 295px;
    height: 105px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 43%;
    left: 50%;
    margin-top: -55px;
    margin-left: -146px;
}

.contact .button .del1 {
    color: #3b3b3b;
    border-bottom: 1px solid #dddddd;
    line-height: 40px;
    padding: 7px 14px 6px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.contact .button .cancel span {
    height: 51px;
    width: 146px;
    display: inline-block;
    background: #ffffff;
    font-size: 18px;
}

.contact .button .cancel .can1 {
    width: 146px;
    border-right: 1px solid #dddddd;
    float: left;
}

.contact .button .cancel button {
    width: 146px;
}

.contact .button .cancel button:focus {
    outline: none;
}

.quxiao {
    float: left;
    height: 100%;
    border-bottom-left-radius: 3px;
    color: #c3c3c3;
    border-right: 1px solid #dddddd;
    border: 0;
    background: #ffffff;
    font-size: 17px;
}

.shanchu {
    float: right;
    height: 100%;
    border-bottom-right-radius: 3px;
    color: #b59768;
    border: 0;
    background: #ffffff;
    font-size: 17px;
}