body {
    background-color: white;
}

.content .hr {
    width: 100%;
    height: 10px;
    background-color: rgb(240, 240, 241);
    border: 0;
}

.default-address {
    width: 100%;
    padding: 20px 15px 15px;
    box-sizing: border-box;
    background-color: white;
}

.default-address .state1 {
    width: 100%;
    height: 21px;
    font-size: 14px;
    color: #c3c3c3;
    margin-top: 16px;
}

.default-address .state .add2 {
    vertical-align: top;
}

.default-address .state .text {
    margin-left: 11px;
    vertical-align: top;
}

.default-address .go {
    vertical-align: middle;
}

.default-address {
    width: 100%;
    padding: 20px 15px 15px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}

.default-address .name {
    float: left;
}

.default-address .mobile {
    float: right;
}

.default-address .address {
    clear: both;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #c3c3c3;
    padding-top: 5px;
}

.default-address .info {
    width: 90%;
    float: left;
}

.default-address .sign {
    width: 10%;
    float: left;
    text-align: right;
    line-height: 60px;
}

.order_hint {
    padding: 2px 10px;
    background-color: #ffe7e7;
    color: #fea0a0;
    font-size: 10px;
}

.content .bookinfo {
    margin: 0 10px 0px;
    padding: 10px 0;
    background: white;
    display: flex;
    -webkit-display: flex;
    border-bottom: 1px solid rgba(236, 236, 236, 0.52);
}

.content .bookinfo .imginfo {
    width: 25%;
    height: 110px;
}

.content .bookinfo .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.content .textinfo {
    position: relative;
    width: 85%;
    margin-left: 20px;
    overflow: hidden;
}

.content .textinfo .title {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .textinfo .author {
    font-size: 12px;
    color: #898989;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .textinfo .money {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content .textinfo .time {
    font-size: 13px;
    color: #c3c3c3;
    position: absolute;
    bottom: 0;
    right: 0;
}

.content .forminfo {
    margin: 0 10px 0px;
    background: white;
}

.content .formbar {
    width: 100%;
    height: 49px;
    background: #ffffff;
    font-size: 0.9rem;
    color: #3b3b3b;
    border-bottom: 1px solid rgba(236, 236, 236, 0.52);
    line-height: 49px;
}

.content .formbar .label {
    display: inline-block;
    width: 30%;
    height: 49px;
    line-height: 49px;
    float: left;
}

.content .formbar .remark {
    width: 70%;
    height: 49px;
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid #f1f1f1;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    outline: 0;
}

.content .formbar .label_val {
    width: 70%;
    float: left;
    text-align: right;
}

.bottom_ {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0px;
    background-color: white;
}

.bottom_ .discounts {
    width: 31%;
    line-height: 60px;
    float: left;
    text-align: center;
    font-size: 12px;
}

.bottom_ .need_pay {
    width: 39%;
    line-height: 60px;
    float: left;
    text-align: center;
    font-size: 15px;
}

.bottom_ .order_submit {
    width: 30%;
    float: left;
    padding-top: 3%;
}

.bottom_ .order_submit span {
    float: right;
    background-color: #3b3b3b;
    z-index: 9999;
    text-align: center;
    border-radius: 3px;
    color: white;
    padding: 6% 12%;
    margin-right: 10px;
    font-size: 15px;
}
